/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-image: url('../../public/main_bg.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.log-form {
    width: 40%;
    min-width: 320px;
    max-width: 475px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.log-form form {
    display: block;
    width: 100%;
    padding: 2em;
    position: relative;
}

.log-form h2 {
    width: 100%;
    color: #d8cece;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.35em;
    display: block;
    background: #2a2a2a;
    width: 100%;
    text-transform: uppercase;
    padding: 0.75em 1em 0.75em 1.5em;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.95);
    border: 1px solid #242424;
    margin: 0;
    font-weight: 200;
}

.log-form input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: 0.5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
}

.log-form .btn {
    position: absolute;
    top: 80%;
    left: 43%;
    padding: 9px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}

.log-form .btn:hover {
    background: linear-gradient(to bottom, #007bff, #0056b3);
    transform: scale(1.02);
}