/* Styles specific to CompareSequences component */

.compare-genome-section {
    position: absolute;
    top: 40px;
    text-align: left;
    margin-top: 60px;
    width: 94%;
    margin-left: 20px;
}

.compare-genome-section-title {
    font-size: 4.2rem;
    margin-bottom: 7px;
    font-family: Centra;
    font-weight: 400;
    color: rgb(210, 207, 207);
}

.compare-genome-section-intro {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-family: Centra;
    color: rgb(209, 209, 209);
}

.compare-genome-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-family: Centra;
    color: white;
}

.compare-sections {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
}

.compare-file-content-box {
    position: relative;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    border: none;
    width: 48%;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.compare-file-content-box h3 {
    font-size: 1.2em;
    margin: 10px;
    color: #535252;
}

.compare-file-content {
    white-space: initial;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    white-space: pre-wrap;
    margin: 20px;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}

.compare-file-content p {
    color: #333;
    overflow-y: hidden;
    overflow-x: hidden;
}

.compare-upload-button {
    position: absolute;
    bottom: 10px;
    left: 42%;
    background-color: #132154;
    color: #fff;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-family: Centra;
    font-weight: bold;
    font-size: 1rem;
    height: 50px;
}

.compare-button {
    display: block; 
    background-color: #132154;
    color: #fff;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-family: Centra;
    font-weight: bold;
    margin-top: 40px;
    font-size: 1rem;
    height: 50px;
    width: fit-content;
}

.compare-button-wrapper {
    display: flex;
    justify-content: center;
}


.compare-button:hover {
    background: linear-gradient(to bottom, #042743, #0056b3);
    transform: scale(1.02);
}

.compare-upload-button:hover {
    background: linear-gradient(to bottom, #042743, #0056b3);
    transform: scale(1.02);
}

.compare-upload-button input[type="file"] {
    display: none;
}