/* Reset some default styles */
#root {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  display: 'flex'
}

/* Basic app styles */
.App {
  background-color: #f2f2f2;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Dark mode styles */
.App.dark {
  background-color: #333;
  color: #fff;
}

/* Title bar styles */
.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #818588;
  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.title-bar h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.title-bar button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 0.5rem;
  text-transform: uppercase;
  margin-left: 1px;
}

.title-bar button:hover {
  text-decoration: none;
}

/* Navigation styles */
.navigation {
  margin-top: 20px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-right: 20px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;
  color: #646161;
}


.logout-button {
  position: absolute;
  top: 90px;
  right: 20px;
  padding: 5px 10px;
  background-color: #042743;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background: linear-gradient(to bottom, #042743, #0056b3);
  transform: scale(1.02);
}

/* File upload styles */
.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.upload-button {
  display: inline-block;
  background-color: #132154;
  color: #fff;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.upload-button:hover {
  background-color: #005a9c;
}

.upload-button input[type="file"] {
  display: none;
}

.file-upload p {
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

/* File list styles */
.file-content-box {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  background-color: #f9f9f9; /* Light mode background color */
}

.file-content-box.dark {
  background-color: #4a4a4a; /* Dark mode background color */
}

.file-content-box h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #535252; /* Default text color */
}

.file-content-box.dark h3 {
  color: #eee; /* Text color in dark mode */
}

.file-content {
  white-space: pre-line;
  font-size: 14px;
  line-height: 1.5;
  color: #333; /* Default text color */
}

.file-content.dark {
  color: #eee; /* Text color in dark mode */
}


/* About us section */
.about-us-section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e5e5e5;
  border: 2px solid #aeadad;
  padding: 20px;
  box-sizing: border-box;
  color: #1b1b1b; /* Default text color */
  font-family: 'Arial', sans-serif; /* Font family */
}

.about-us-section h2 {
  margin-bottom: 15px;
  font-size: 2em; 
  color: #454444; /* Heading text color */
  font-weight: bold; /* Bold font weight */
}

.about-us-section p {
  line-height: 1.6;
  color: #383737;
  font-size: 1.2em; 
}

/* Dark mode */
.App.dark .about-us-section {
  background-color: #515050; /* Dark background color */
  color: #bbbaba; /* Text color for dark mode */
}

.App.dark .about-us-section h2 {
  color: #bbbaba; /* Heading text color for dark mode */
}

.App.dark .about-us-section p{
  color: #bbbaba; /* Text color for dark mode */
}

